/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nav Bar Style's */
/*#region*/

.nav-bar {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: lightgrey;
    align-items: center;
    
}

#logo {
    cursor: pointer;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    margin: 10px 25px;
    padding: 14px 16px;
    color: black;
    transition: .3s ease;
}

.nav-bar ul li:hover a {
    background-color: #bfbfbf;
}




/*#endregion*/

/* Home page style's */
/* Header page style's */
/*#region*/
.header {
    position: relative;
    width: 100%;
    height: auto;
}

.head-background {
    height: 101%;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 200%;
    font-family: 'Kaushan Script', cursive;
    color: #4D1F00;
}

.text .letter {
    display: inline-block;
}
/*#endregion*/

/* Main Style's */
/*#region*/

.bestevaer-info {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;
}

.info-header {
    width: 100%;
    height: 50px;
    font-family: 'Inconsolata', monospace;
    background-color: #bfbfbf;
}
.center {
    text-align: center;
}

.main, .berekenen, .contact-main {
    font-family: 'Inconsolata', monospace;
    height: 300px;
    width: 60%;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.larger-h1 {
    font-size: 250%;
}

/*#endregion*/

/* Bereken pagina */
/*#region*/
/* Form */
.container-bereken {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.bereken-form {
    margin-top: 20px;
    width: 55%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 10px;
}

.actualForm {
    width: 45%;
    font-family: 'Open Sans', sans-serif;
}

input[type='text'] {
    padding: 5px;
    float: right;
}

.actualForm select {
    padding: 5px;
    width: 153px;
    float: right;
}

.actualForm button {
    padding: 5px;
    margin: auto;
}

/* Result */
.result {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: none;
    flex-flow: row wrap;
    margin-top: 15px;
    width: 55%;
    height: 300px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.result-header{
    height: 100%;
    width: 20%;
    padding: 10px;
}

.results {
    padding: 10px;
    width: 70%;
}



/*#endregion*/

/* Ships page */
/*#region*/

.container-ships {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.ship-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship-1-info {
    background-color: grey;
    padding: 15px;
}

.ship-1-pic {
    padding: 15px;
    margin-top: 15px;
    background-color: red;
}

/*#endregion*/